body {
  height: 100vh;
  margin: 0;
  background-color: hsl(229, 57%, 11%);
  background-image: url(./images/bg-desktop.png);
  background-position: right 0 top 50vh;
  background-repeat: no-repeat;
  background-size: 100vw 50vh;
  color: white;
  font-family: "Raleway", sans-serif;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
}

.inner-content {
  height: 200px;
  display: flex;
  width: 800px;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.logo-wrapper {
  height: 200px;
  width: 300px;
  background-color: #1e2c68;
  border-radius: 5px 100px 5px 5px;
}

.ml-10 {
  margin-left: 10px;
}

.bar {
  height: 14px;
  background-color: #0c122c;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thumb {
  background-color: white;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-right: 2px;
}

.inner-bar {
  background-image: linear-gradient(
    16deg,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  border-radius: 10px;
  width: 85%;
  height: 10px;
  margin-left: 3px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  height: 100%;
  padding: 0px 0px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.icon-wrapper {
  width: 40px;
  height: 40px;
  background-color: hsl(229, 57%, 11%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.usage-wrapper {
  margin-top: 50px;
  height: 150px;
  width: 400px;
  background-color: #1e2c68;
  border-radius: 5px;
}

.left-data-wrapper {
  position: absolute;
  right: 20px;
  bottom: 70%;
}

.arr-wrap {
  display: flex;
  justify-content: flex-end;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 30px solid rgb(255, 255, 255);
  border-left: 30px solid transparent;
}

.left-data {
  width: 150px;
  color: black;
  height: 50px;
  background-color: white;
  border-radius: 5px 5px 0px 5px;
  padding: 10px 0px 0px 24px;
}

.fs-big {
  font-size: 30px;
}

.fs-small {
  font-size: 12px;
  color: grey;
  vertical-align: super;
}

.wrapper {
  padding: 0px 20px 0px 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.bold {
  font-weight: bold;
}

.limits {
  display: flex;
  justify-content: space-between;
}

.icons {
  display: flex;
}

@media only screen and (max-width: 750px) {
  body {
    background-image: url(./images/bg-mobile.png);
    background-position: right 0 top 0vh;
    background-size: 100vw 100vh;
  }
  .inner-content {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
  }

  .arrow {
    display: none;
  }
  .left-data {
    border-radius: 5px;
    width: 100px;
    height: 30px;
  }
  .left-data-wrapper {
    bottom: -20px;
    left: 30%;
    right: 30%;
  }
  .fs-big {
    font-size: 20px;
  }
  .usage-wrapper {
    width: 300px;
  }
}

.slider {
  width: 100%;
  background: white;
  border-radius: 10px;
}
input[type="range"] {
  -webkit-appearance: none;
  background: rgb(226, 223, 223);
  height: 20px;
  overflow: hidden;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 20px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: white;
  border-radius: 50%;

  box-shadow: -210px 0 0 200px hsl(335, 100%, 65%);
  cursor: pointer;
  height: 20px;
  width: 20px;
  border: 0;
}

input[type="range"]::-moz-range-thumb {
  background: white;
  border-radius: 50%;

  cursor: pointer;

  border: 0;
}

input[type="range"]::-moz-range-track {
  background: white;
}
input[type="range"]::-moz-range-progress {
  background: white;
  height: 20px;
}
input[type="range"]::-ms-fill-upper {
  background: white;
}
input[type="range"]::-ms-fill-lower {
  background: white;
}
