body {
    background: url(./images/desktop/image-hero.jpg);
    color: white;
    font-family: "Josefin Sans", sans-serif;
    background-repeat: no-repeat;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.flex-row {
    display: flex;
}

.highlight {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
}

.highlight:hover {
    border: 1px solid rgb(255, 255, 255);
}

.nav-menu {
    width: 400px;
    justify-content: space-evenly;
    font-weight: bold;
    cursor: pointer;
    height: 100%;
    align-items: center;
}

.footer-nav {
    justify-content: space-between;
}

.justify-content-between {
    justify-content: space-between;
}

.title {
    width: 390px;
    background: transparent;
    height: 180px;
    border: 2px solid white;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
}

.title-wrapper {
    padding: 30px;
}

.main {
    height: 100vh;
}

.header {
    height: 50px;
    display: flex;
    align-items: center;
}

.card1 {
    width: 60%;
}

.fit-div {
    width: 100%;
}

.card2 {
    background-color: white;
    width: 50%;
    position: absolute;
    z-index: 1111;
    left: 600px;
    top: 300px;
    height: 50%;
}

.col-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content1 {
    position: relative;
    margin: auto;
    padding: 100px;
}

.fs-40 {
    font-size: 40px;
}

.font-small {
    font-weight: 300;
}

.upper {
    text-transform: uppercase;
}

.content-wrap {
    color: black;
    padding: 50px 222px 50px 50px;
}

.main-inner {
    padding: 50px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content {
    font-weight: 300;
    color: #3c3838;
}

.creations-inner {
    padding: 0px 100px 100px 100px;
}

.bottom-left {
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 1111;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 300;
    width: 150px;
}

.see-all {
    background-color: transparent;
    border: 1px solid black;
    width: 120px;
    height: 50px;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 3px;
    cursor: pointer;
    background-image: -webkit-linear-gradient( 90deg, #000000 50%, transparent 50%);
    background-image: linear-gradient(90deg, #000000 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.see-all:hover {
    background-position: 0;
    color: white;
}

h2 {
    margin: 0;
}

.creations {
    color: black;
}

.fs-30 {
    font-size: 30px;
    font-weight: 300;
}

.gallery {
    justify-content: space-between;
    margin-top: 60px;
    flex-wrap: wrap;
}

.flex-item {
    margin-top: 10px;
    position: relative;
}

.footer {
    background-color: black;
}

.footer-inner {
    padding: 0px 100px 0px 100px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.social-icons {
    width: 150px;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}