body {
    height: 100vh;
    background-color: black;
    margin: 0;
}

.main {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    background-color: white;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.dail {
    height: 100%;
    width: 100%;
    position: relative;
}

.hands {
    width: 100%;
    height: 10px;
    position: absolute;
    transform: rotate(90deg);
    top: calc(50% - 5px);
    display: flex;
    align-items: center;
}

.seconds {
    height: 50%;
    width: 30%;
    background: red;
    position: absolute;
    left: 20%;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}

.minutes {
    height: 50%;
    width: 25%;
    background: rgb(16, 173, 77);
    position: absolute;
    left: 25%;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}

#seconds-hand {
    z-index: 999;
}

#minutes-hand {
    z-index: 998;
}

#hours-hands {
    width: 100%;
    height: 10px;
    position: absolute;
    transform: rotate(90deg);
    top: calc(50% - 5px);
    display: flex;
    align-items: center;
}

.hours {
    height: 50%;
    width: 15%;
    background: rgb(16, 173, 77);
    position: absolute;
    left: 35%;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}

.center-dot {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background: #f80909;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
}